<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finals Producer Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Producer Panel</h2>
        <form id="producerForm">
            <div class="row">
                <div class="col">
                    <h4>User 1</h4>
                    <div class="mb-3">
                        <label for="user1Name" class="form-label">User 1 Name</label>
                        <input type="text" class="form-control" id="user1Name" required>
                    </div>
                    <div class="mb-3">
                        <label for="user1VideoLink" class="form-label">User 1 Video Link</label>
                        <input type="text" class="form-control" id="user1VideoLink" required>
                    </div>
                    <div class="mb-3">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-info" id="openRatingUser1">Open Rating User1</button>
                            <button type="button" id="closeRatingUser1" class="btn btn-warning">Close Rating User1</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h4>User 2</h4>
                    <div class="mb-3">
                        <label for="user2Name" class="form-label">User 2 Name</label>
                        <input type="text" class="form-control" id="user2Name" required>
                    </div>
                    <div class="mb-3">
                        <label for="user2VideoLink" class="form-label">User 2 Video Link</label>
                        <input type="text" class="form-control" id="user2VideoLink" required>
                    </div>
                    <div class="mb-3">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-info" id="openRatingUser2">Open Rating User2</button>
                            <button type="button" id="closeRatingUser2" class="btn btn-warning">Close Rating User2</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="roundNumber" class="form-label">Round Number</label>
                <input type="text" class="form-control" id="roundNumber" required>
            </div>
            <div class="mb-3">
                <label for="matchNumber" class="form-label">Match Number</label>
                <input type="text" class="form-control" id="matchNumber" required>
            </div>
            <div class="mb-3">
                <label for="user" class="form-label">Producer User</label>
                <input type="text"  id="username" class="form-control">
            </div>
            <div class="mb-3">
                <label for="genAndSay" class="form-label">TTS Generator</label>
                <input type="text"  id="ttsPrompt" class="form-control">
            </div>
            <input type="hidden" id="password" value="<%= password %>"/>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-primary">Start New Round</button>
                <button type="button" class="btn btn-info" id="toggleOverlay">Toggle Overlay</button>
                <button type="button" onclick="triggerMoan()" class="btn btn-secondary">Moan</button>
                <button type="button" onclick="triggerFart()" class="btn btn-warning">Fart</button>
                <button type="button" id="generateTTS" class="btn btn-success">Gen TTS</button>
                <button type="button" id="sayTTS" class="btn btn-warning">Say TTS</button>
            </div>
        </form>
    </div>

    <!-- JavaScript and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="producer.js"></script>
</body>
</html>
