<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finals Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2b554022ef.js" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="finals_style.css"> <!-- Link to your new CSS file -->
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito">
</head>
<body>
    <div id="overlay" class="overlay">
        <img src="/abbabox_logo.png" alt="Abbabox Logo" height="50px" id="overlayLogo">
        <h1 id="overlayTitle">Match #<span class="nextMatchNumberSpan">1</span> is Being Setup</h1>
        <iframe src="https://challonge.com/abbabox/module" width="1000px" height="800" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
    </div>
    <audio id="tts" src="/tts"></audio>
    <audio id="lockedin" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/input_ok.mp3?v=1703768903507"></audio>
    <audio id="fart_01" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/dry-fart.mp3?v=1700004818800"></audio>
    <audio id="fart_02" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/fart_1.mp3?v=1700023345954"></audio>
    <audio id="fart_03" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/fart_03.mp3?v=1700023464386"></audio>  
    <audio id="fart_04" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/perfect-fart.mp3?v=1700023636828"></audio>
    <audio id="fart_05" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/fart-toot.mp3?v=1700023653624"></audio>
    <audio id="fart_06" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/fart-with-reverb_NcgStsA.mp3?v=1700023644773"></audio>
    <audio id="fart_07" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/fart3.mp3?v=1700023649738"></audio>
    <audio id="moan_01" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/moan-1.mp3?v=1706443774474"></audio>
    <audio id="moan_02" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/maon-2.mp3?v=1706443815977"></audio>
    <audio id="moan_03" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/maon-3.mp3?v=1706443854425"></audio>
    <audio id="moan_04" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/moan-4.mp3?v=1706443879906"></audio>
    <audio id="moan_05" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/moan_5.m4a?v=1706444485774"></audio>
    <nav class="header-nav">
        <div class="logo-title-container">
            <img src="/abbabox_logo.png" alt="Abbabox Logo" height="75px" class="logo">
            <h1 class="header-title">Free Media Share Season 3 Finals</h1>
        </div>
        <div class="round-title" id="roundTitle">Round Title Here</div>
        <div class="round-number">Round #<span class="roundNumberSpan">1</span><br />
        <div class="match-number">Match #<span class="matchNumberSpan">1</span><br />
        <!-- button for pausing tts with icon -->
        <button id="toggleTTS" class="btn btn-success" style="background-color: #0066cc; border-color: #669933;"><i class="fas fa-pause"></i></button>
        <!-- button for replaying tts -->
        <button id="replayTTS" class="btn btn-success" style="background-color: #0066cc; border-color: #669933;"><i class="fas fa-redo"></i></button>
        <!-- button for showing the winner -->
        <button id="showWinner" class="btn btn-success" style="background-color: #0066cc; border-color: #669933;"><i class="fas fa-trophy"></i></button>
        </div>
    </nav>
    <div id="winner">
        <h1 id="winnerText"></h1>
        <div id="emitter"></div>
    </div>
    <div class="grid-container">
        <div class="card user1">
            <div class="card-inner">
                <div class="videoInfo">
                    <h1 class="videoTitle" id="user1Title"></h1>
                    <a id="user1VideoLink" href="#" target="_blank">
                        <img id="user1Thumbnail" class="thumbnail" src="https://placehold.jp/640x480.png" alt="User 1 Thumbnail">
                    </a>
                    <h2 class="username" id="user1Name"></h2>
                </div>
                <div class="ratings">
                    <div class="ratingVideoInfo">
                        <div class="ratingVideoInfoInner">
                            <div class="ratingVideoInfo">
                                <h1 id="user1RatingVideoInfoTitle">Title</h1>
                                <hr>
                                <h2 id="user1RatingVideoInfoUsername">Username</h2>
                            </div>
                            <div class="ratingVideoInfo">
                                <img class="ratingVideoInfoThumbnail" id="user1RatingVideoInfoThumbnail" src="https://placehold.jp/640x480.png" alt="Rating Video Thumbnail">
                            </div>
                        </div>
                    </div>
                    <div class="judge-ratings" id="user1JudgeRatings">
                        <!-- Individual judge ratings will be dynamically inserted here -->
                    </div>
                    <div class="average-rating" id="user1AverageRating">
                        <h1>Average Rating</h1>
                        <div class="average-rating-stars" id="user1AverageRatingStars"></div>
                        <h1 id="user1AverageRatingNumber">0</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="vs-graphic">VS</div>

        <div class="card user2">
            <div class="card-inner">
                <div class="videoInfo">
                    <h1 class="videoTitle" id="user2Title"></h1>
                    <a id="user2VideoLink" href="#" target="_blank">
                        <img id="user2Thumbnail" class="thumbnail" src="https://placehold.jp/640x480.png" alt="User 2 Thumbnail">
                    </a>
                    <h2 class="username" id="user2Name"></h2>
                </div>
                <div class="ratings">
                    <div class="ratingVideoInfo">
                        <div class="ratingVideoInfoInner">
                            <div class="ratingVideoInfo">
                                <h1 id="user2RatingVideoInfoTitle">Title</h1>
                                <hr>
                                <h2 id="user2RatingVideoInfoUsername">Username</h2>
                            </div>
                            <div class="ratingVideoInfo">
                                <img class="ratingVideoInfoThumbnail" id="user2RatingVideoInfoThumbnail" src="https://placehold.jp/640x480.png" alt="Rating Video Thumbnail">
                            </div>
                        </div>
                    </div>
                    <div class="judge-ratings" id="user2JudgeRatings">
                        <!-- Individual judge ratings will be dynamically inserted here -->
                    </div>
                    <div class="average-rating" id="user2AverageRating">
                        <h1>Average Rating</h1>
                        <div class="average-rating-stars" id="user2AverageRatingStars"></div>
                        <h1 id="user2AverageRatingNumber">0</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>
    <script src="finals.js"></script>
</body>
</html>
