/* General Styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #121212;
    color: white;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Three columns layout */
    grid-template-rows: auto 1fr; /* Two rows layout */
    height: 100%;
    justify-items: center;
    align-items: center;
}

/* Header Styles */
.header-nav {
    background-color: #1c1c1c; /* Matching the card background */
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Three columns layout */
    justify-items: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.logo-title-container {
    display: flex;
    flex-direction: column; /* Stacks logo and title vertically */
    align-items: flex-start;
}

.logo {
    height: 50px; /* As specified */
}

.header-title {
    color: #0066cc; /* Matching the round title color */
    font-size: 1vw;
    margin: 5px 0 0; /* Adjust top margin */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.round-title {
    color: #ffcc00; /* Matching the header title color */
    font-family: 'Rollerball', sans-serif;
    font-size: 2.5vw;
    text-align: right;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.round-number {
    color: #0066cc; /* Matching the header title color */
    font-size: 1.2em;
    text-align: right;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.card {
    background-color: #0066cc;
    border: 2px solid #669933;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(102, 153, 51, 0.4);
    transition: transform 0.3s ease;
    perspective: 1000px;
}

.card:hover {
    transform: scale(1.05);
}

.vs-graphic {
    font-family: 'Rollerball', sans-serif;
    font-size: 3em;
    color: #ffcc00;
    margin: 0 20px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    z-index: 999;
}

.videoInfo img {
    width: 80%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.username {
    font-size: 1.5em;
    color: #ffcc00;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
.videoTitle {
    font-size: 3vw;
    color: #ffcc00;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    max-height: 145px;
    min-height: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Responsive Design */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Stack elements in a single column on small screens */
        grid-template-rows: auto 1fr 1fr;
    }
    .logo {
        margin-bottom: 10px;
    }

    .header-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .round-title {
        order: -1; /* Moves round title to the top */
        width: 100%;
        text-align: center;
    }
    .round-number {
        order: -1; /* Moves round title to the top */
        width: 100%;
        text-align: center;
    }
    .header-title {
        font-size: 1.2em;
    }
}

.fullscreen-container {
    display: flex;
    flex-direction: column; /* Align children elements in a column */
    justify-content: center;
    align-items: center; /* Centers children elements horizontally */
    height: 100%;
}

.thumbnail{
    width: 80%; /* Adjust size as needed */
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: block; /* Makes the image a block-level element */
    margin-left: auto; /* These two margins center the image */
    margin-right: auto;
}
.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1); /* Adjusted transparency */
    z-index: 1000;
}

#overlayLogo {
    max-width: 50%; /* Adjust the width as needed */
    height: 65px;
    margin-bottom: 20px; /* Space between logo and text */
}

#overlayTitle {
    font-family: 'Rollerball', sans-serif;

    font-size: 3em; /* Increase font size */
    color: #ffcc00; /* Adjust the color as needed */
    text-align: center;
}

iframe {
    transform: scale(1.5); /* 1.5 is the zoom level, equivalent to 150% */
    transform-origin: top; /* This ensures zooming in from the top left corner */
  }

  .winner-animation {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
.average-rating, .judge-rating {
    color: #ffcc00; /* Gold color for stars */
}


#average-stars-display .fa-star {
    font-size: 8em; /* Adjust for desired size */
    color: #ffcc00;
}
.stars-display .fa-star {
    font-size: 2em; /* Adjust for desired size */
    color: #ffcc00;
}
.ratings {
    /* Back of the card */
    transform: rotateY(180deg);
}

.card-flipped .card-inner {
    transform: rotateY(180deg);
}
.card-inner {
    position: relative;
    width: 100%;
    height: 750px;
    background-color: #1c1c1c;
    border: 2px solid #669933;
    border-radius: 10px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.videoInfo, .ratings {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hides the back part when flipped */
}

.videoInfo {
    /* Front of the card */
    z-index: 2;
    transform: rotateY(0deg);
}

.ratings {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: auto auto auto auto; /* Four rows: thumbnail/title/username, judge ratings, average rating */
    grid-gap: 20px; /* Space between grid items */
    background-color: #2c2c2c; /* Adjust background as needed */
    padding: 20px;
    border-radius: 10px;
    color: #ffcc00;
}

/* Style for the Thumbnail, Title, and Username container */
.ratingVideoInfoInner {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Thumbnail takes one fraction of space, title and username take two */
    align-items: center; /* Center items vertically */
}
/* Thumbnail style */
.ratingVideoInfoThumbnail {
    height: 300px;
    grid-row: 1; /* Position in the first row */
    grid-column: 1; /* Position in the first column */
}

/* Title and Username styles */
#user1RatingVideoInfoTitle, #user1RatingVideoInfoUsername {
    grid-row: 1; /* Position in the first row */
    grid-column: 2; /* Position in the second column */
    margin: 0; /* Remove default margins */
    font-size: 1.5vw;
}
#user2RatingVideoInfoTitle, #user2RatingVideoInfoUsername {
    grid-row: 2; /* Position in the second row */
    grid-column: 2; /* Position in the second column */
    margin: 0; /* Remove default margins */
    font-size: 1.5vw;
}
/* Judge Ratings style */
.judge-ratings {
    display: grid;
    /* 3 column grid */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: center;
}

/* Average Rating style */
.average-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.judge-name {
    font-size: 2.5em;
    color: #ffcc00;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.judge-rating-number {
    font-size: 1.5em;
    color: #ffcc00;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.judge-rating-stars .fa-star {
    font-size: 2em; /* Adjust for desired size */
    color: #ffcc00;
}
.average-rating-stars .fa-star {
    font-size: 3.5em; /* Adjust for desired size */
    color: #ffcc00;
}

/* Winner div style */
#winner {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the div */
    padding: 20px;
    background-color: #0066cc;
    color: #ffcc00;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border: 2px solid #669933;
    border-radius: 10px;
    text-align: center;
    font-size: 3em;
    z-index: 1100;
    animation: reveal 2s ease-out forwards; /* Animation */
}
/* Animation */
@keyframes reveal {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5); /* Start from half size */
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1); /* End at full size */
    }
}
.winner-animation {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@font-face {
    font-family: 'Rollerball';
    src: url('/rollerball-webfont.woff2') format('woff2'),
         url('/rollerball-webfont.woff') format('woff'),
         url('/rollerball.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
hr {
    border: 0;
    height: 1px;
    background: #669933;
    background-image: linear-gradient(to right, #669933, #ffcc00, #669933);
}